
    .container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 50%; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
       
}

.container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.divi{
    display: flex;
  flex-wrap: nowrap;
  background-color: lightgoldenrodyellow;
    justify-content: center;
    
}
.divi > div {
  margin: 10px;
  width: 200px;
    line-height:30px; 
  
}

.center{
     text-align: center;
    
}
.divi a{
    text-decoration: none;
    background-color:coral;
    color: white;
    padding: 10px;
    border:1px solid;
}
.checked{
    color: orange;
}
 @media only screen and (max-width: 800px){
    .container{
    
        width: 100%;
}
}
@media only screen and (max-width: 530px){
 
    .container{
    
        width: 100%;
        margin-top: 150px;
}
    .divi > div {
  margin: 0;
        font-size: 13px;
        line-height: 40px;
        align-content: space-between;
  
}
    .divi{
   
    align-content: space-between;
    
}
    
    }
    
